[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==18.9b0"
mock = "==2.0.0"
pre-commit = ">=1.14.4,<1.15"
pytest = "==4.3.0"
pytest-django = "==3.4.8"
wagtail-factories = "==1.1.0"
pyyaml = "==4.2b1"

[packages]
wagtail = "==2.4"
Django = "==2.1.7"
psycopg2-binary = "==2.7.7"

[requires]
python_version = "3.6"
